<% layout("layouts/boilerplate") %>
<title>History</title>
<link rel="stylesheet" href="/style/analytics/history.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="p-2 d-flex flex-wrap" id="topmenu">
    <h3 class="m-0 align-self-center d-inline text-center">Historic performance</h3>
</div>
<div id="content-div" class="d-flex p-2">
    <div class="container chart-container">
        <div class="w-100 d-flex mb-2 flex-wrap select-chart">
          <button id="bar_button" class="btn" disabled>Bar chart</button><button id="line_button" class="btn mx-2">Line chart</button>
          <span id="note" class="d-flex align-items-center">Values in millions</span>
        </div>
        <div id="bar_chart_legend" class="mt-4"></div>
        <svg id="bar_chart" width = "100%" viewBox="0 0 500 200"></svg>
        <svg id="line_chart" width = "100%" viewBox="0 0 500 200" class="d-none"></svg>
    </div>
</div>
<script>
  let queryResult = <%-JSON.stringify(queryResult)%>;
</script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script src="/js/analytics/history.js"></script>