#topmenu {
    width: 100%;
    margin: 0em;
    margin-top: 0.5em;
    border-top: 0.1em solid grey;
    border-left: 0.1em solid grey;
    border-right: 0.1em solid grey;
}

#content-div {
    width: 100%;
    margin: 0em;
    border: 0.1em solid grey;
    flex-grow: 1;
}

h3 {
    margin:0;
}

button {
    background-color: #45b1e8!important;
    color: white!important;
}

.form-select {
    width: auto;
}

.graph-container {
    min-height: auto;
    position: relative;
}

#result {
    position: absolute;
    width: 100%;
    top: 51%;
    text-align: center;
    font-size: 1.1em;
}

.nav-item:nth-of-type(5) {
    background-color: #73c2fb;
}

#content-column {
    display: flex;
    flex-direction: column;
}

#content-row {
    flex-grow: 1;
}

.slice {
    stroke: white;
    fill-opacity: .8;
    stroke-width: 2;
}

#pie-chart rect {
    fill: rgb(255, 255, 255);
    stroke: gray;
    stroke-width: 2;
    fill-opacity: 0.9;
}

a {
    text-decoration: none;
}

a text:hover {
    fill: blue;
}

.year-result text {
    font-size: 1.3rem;
}

#chart_legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.legendBox rect {
    stroke: ghostwhite;
    stroke-width: 3;
}

.legendBox span, .year-result text {
    user-select: none;
}

.greyedOut {
    fill: grey!important;
}

.striked {
    text-decoration: line-through;
}

.legendBox rect {
    transition: 1s;
    transition-property: fill;
}

@media (max-width: 405px) {
    .title form {
        justify-content: center;
    }

    #content-row button, .form-select {
        margin: 0.3em 0;
    }
}

@media (max-width: 500px) {
    #result {
        display: none;
    }
}

@media (min-width: 768px) {
    .graph-container {
        width:80%;
    }
}

@media (min-width: 992px) {
    .graph-container {
        width:70%;
    }
}

@media (min-width: 1200px) {
    .graph-container {
        width:60%;
    }
}

@media (min-width: 1400px) {
    .graph-container {
        width:40%;
    }
}