#topmenu {
    width: 100%;
    margin: 0em;
    margin-top: 0.5em;
    border-top: 0.1em solid grey;
    border-left: 0.1em solid grey;
    border-right: 0.1em solid grey;
}

#content-div {
    width: 100%;
    margin: 0em;
    border: 0.1em solid grey;
    flex-grow: 1;
}

h3 {
    margin:0;
}

#content-row {
    flex-grow: 1;
}

#content-column {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #45b1e8!important;
    color: white!important;
}

svg {
    stroke-width: 0.15;
}

.axes text {
    font-size: 0.35rem;
}

svg a text, .balanceTooltip text, .barTooltip text {
    font-size: 0.4rem;
}

#note {
    margin-left: auto;
}

.nav-item:nth-of-type(5) {
    background-color: #73c2fb;
}

#line_chart a text:hover {
    fill: blue!important;
}

.balanceTooltip, .barTooltip {
    pointer-events: none;
}

.balanceTooltip rect, .barTooltip rect {
    fill: #eee;
    stroke: gray;
    stroke-width: 0.8;
}

#line_chart .line {
    stroke-width: 1;
    stroke: grey;
}

#line_chart .x-axis .tick line, #bar_chart .y-axis .tick:not(:last-of-type)  line{
    stroke-dasharray: 2 2;
}

#line_chart .x-axis .tick:first-of-type line, #line_chart .y-axis .tick:last-of-type line {
    stroke-dasharray: 0 0;
}

#line_chart .y-axis .tick:nth-of-type(5) line {
    stroke-width: 1;
    stroke: #f0f0f0;
}

a {
    text-decoration: none;
}

#bar_chart .x-axis .tick line, #bar_chart .x-axis .tick:nth-child(odd) text {
    display: none;
}

#bar_chart .axes text, #line_chart .axes text, .legendBox span {
    user-select: none;
}

.barGroup text:hover, #bar_chart .yearResultBalance:hover {
    fill: blue!important;
}

#bar_chart_legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.greyedOut {
    fill: grey!important;
}

.striked {
    text-decoration: line-through;
}

.legendBox rect {
    stroke: ghostwhite;
    stroke-width: 3;
}

@media (max-width: 405px) {
    .select-chart {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #line_button {
        margin: 0.5em 0;
    }

    #note {
        margin:0;
    }
}